body {margin:0; padding:0; background-color:#FFFFFF;}
#container {min-height:600px;}


/* base classes for popup windows */
	.popupWindow {display:none ; position: absolute; top:0px; left:0px; z-index:120; width: 230px; background-color: #FFFFFF; border: 1px solid #CCC; border-radius:8px; -moz-border-radius: 8px ; -webkit-border-radius: 8px;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);}
	.popupWindow:after {border:solid transparent; content: " "; height:0px; width:0px; padding:0px; position:absolute; pointer-events:none; border-bottom-color:#ddd; border-width:10px; right:2px; bottom: 100%; margin-left:-10px; }
	.popupWindow .title_bar { background-color: #DDDDDD; color: #000000; font-weight: bold; font-size:12px; line-height:16px; padding: 7px 12px 7px 12px;}
	.popupWindow .title_bar a.close_button {position: absolute; top:4px; right: 6px; padding:0 ; margin:0 ; padding:2px 4px; margin-bottom:4px; font-size:11px ; line-height:13px;}
	.popupWindow .inner {padding-top:0px; padding-left:32px; padding-bottom:24px; overflow:hidden;}
	.popupWindow .inner h6 {font-size:14px; padding:0 ; margin:0; margin-top:16px;}


/* .language_selector */

	.language_selector.popupWindow  {top:40px; left:-165px; width: 230px; padding:0}
	.language_selector.popupWindow .inner {padding-top:0px; padding-left:32px; padding-bottom:24px; color:#333333;}

	.language_selector .flagbackground {background-position:0px 1px; background-repeat:no-repeat; margin:0; margin-top:8px; padding:0; padding-left: 30px;}
	.language_selector .flagbackground h6 {font-size:12px; margin:0; margin-bottom:2px;}
	.language_selector .flagbackground.US {background-image: url('https://www.arbonne.com/images/international/flags/us.gif');}
	.language_selector .flagbackground.CA {background-image: url('https://www.arbonne.com/images/international/flags/ca.gif');}	
	.language_selector .flagbackground.AU {background-image: url('https://www.arbonne.com/images/international/flags/au.gif');}
	.language_selector .flagbackground.UK {background-image: url('https://www.arbonne.com/images/international/flags/uk.gif');}	

/* .login_popup */

	.login_popup.popupWindow  {top:40px; left:-165px;  width: 400px; padding:0;}
	.login_popup.popupWindow:after {left:50%;  }
	.login_popup.popupWindow form {padding:0; margin:0 ;}
	.login_popup.popupWindow label {display:block; margin:0; font-size:12px ; line-height: 14px; font-weight: bold; color: #444444;}
	.login_popup.popupWindow form input[type="text"], .login_popup.popupWindow form input[type="password"] {color:#4fa83e; font-size:12px; line-height: 14px; font-family: inherit;  margin:0; background-color: #FFFFFF; border: 1px solid #CCCCCC; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);  display:block; margin:0; padding: 0px 24px 0px 6px;}
	.login_popup.popupWindow form input[type="text"]:focus, .login_popup.popupWindow form input[type="password"]:focus {color:#333333;}
	.login_popup.popupWindow form input#CID {height: 22px; width: 170px;}
	.login_popup.popupWindow form input#PIN {height: 22px; width: 120px}
	.login_popup.popupWindow form input[type="submit"] {font-family: inherit; font-size:12px;}
	.login_popup.popupWindow .inner {padding-top:6px; padding-left:12px; padding-bottom:18px;font-size:11px;overflow:hidden; }
	.login_popup .float1 {position:relative; overflow:hidden; float:left; min-height:1px; width:45%; padding:0; margin-right:10px;}
	.login_popup .float2 {position:relative; overflow:hidden; float:left; min-height:1px; width:32%; padding:0; margin-right:10px;}
	.login_popup .float3 {position:relative; overflow:hidden; float:left; min-height:1px; width:15%; padding:0; padding-top: 8px}
	.login_popup #tnheaderlogin {padding-left: 10px; padding-right: 10px ;}
	.login_popup .forgot_button a { position:absolute; right:5px; bottom:1px; background-color:#DDD; padding:1px 4px; margin: 2px; font-size:11px; line-height:1; text-transform: none; color:#555555; text-decoration:none; cursor:pointer; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; border: 1px solid #CCCCCC; border-top-color: #EEEEEE; border-left-color:#EEEEEE;}
	.login_popup .forgot_button a:hover { background-color:#CCCCCC}

/* fix for visibility */
	.foundationCSS .login_section ul.inline-list {overflow:visible;}

/* Login Section
	.login_section_outer {background-color:#F5F5F5; height:auto; width:100%; overflow: hidden;}
	.login_section  {max-width:940px; min-width:480px; width:auto ; height:auto; margin:auto; padding:0 ; position: relative; z-index:2;}
	.login_section ul {margin:0; padding:0; float:right;}
	.login_section ul li { color:#999; margin:0; padding:0;display:block; float:left; width:auto; min-width:1px; ;background-color:#F5F5F5;border: 1px solid ; border-color: transparent #FDFDFD transparent #E5E5E5 ;font-size:11px; line-height:28px; }
	.login_section ul li:last-child {border-right:none; }
	.login_section ul li:only-of-type {border-left:none; border-right: 1px solid #FDFDFD; }
	.login_section ul li > * { padding:5px 10px;}
	.login_section li a, .login_section li a:link, .login_section li a:visited, .login_section li a:active { color:#4fa83e;}
	.login_section li:hover {color:#5C8022; background-color:#EEEEEE;border-right: 1px solid #F5F5F5;}
	.login_section li.country_selector {position:relative; padding-right: 10px}
	.login_section li.country_selector .dropdown_flag { margin-right:6px; margin-bottom:-2px; }
	.login_section li.arrow {padding-right:14px;}
	.login_section li .dropdown_arrow {display:block; position:absolute; bottom:11px; right:10px; width:0px; height:0px; padding:0 ;border-style:solid; border-width:5px 3px 0 3px; border-color:#999 transparent transparent transparent; }
 */

/* Login Section */
	.login_section_outer {background-color:#F5F5F5;  width:100%;  z-index: 2; height: 28px;}
	.login_section  {max-width:940px; min-width:480px; width:auto ; height:auto; margin:auto; padding:0 ; }
	.login_section ul {margin:0; padding:0; float:right;}
	.login_section ul li { color:#999; margin:0; padding:0;display:block; float:left; width:auto; min-width:1px; ;background-color:#F5F5F5;font-size:11px; line-height:28px; text-transform: uppercase; position: relative;}

	.login_section ul li > * { padding:5px 10px;}
	.login_section li:hover {color:#5C8022; background-color:#EEEEEE;}

	.login_section ul li .separator {position:absolute; top:8px; padding:0; right:0px; height: 12px; width: 1px; border-right: 1px solid #DDDDDD}
	 .login_section ul li .separator:last-child { border-right: 1px solid #DDDDDD}


	.login_section li.country_selector {position:relative; padding-right: 10px}
	.login_section li.country_selector .dropdown_flag { margin-right:6px; margin-bottom:-2px; }
	.login_section li.arrow {padding-right:14px;}
	.login_section li .dropdown_arrow {display:block; position:absolute; bottom:11px; right:10px; width:0px; height:0px; padding:0 ;border-style:solid; border-width:5px 3px 0 3px; border-color:#999 transparent transparent transparent; }

/* Logo Section */
	.logo_area { padding:0; margin:0; position:relative; margin:auto; max-width:940px; min-width:768px; width:100% ;height:55px; clear: both;}
	.logo_area .arbonne_logo {width:auto; padding-top:20px; padding-left:16px;}
	.logo_area .logo_area .arbonne_logo a {margin:0; padding:0;}
	.logo_area .arbonne_logo img {width:auto; height:auto; padding:0;}

	.logo_area h1 {font-size:24px; color:#777777; position:absolute; top: 22px; right: 24px;}
	.logo_area .right_links ul li.separator {border-color: #DDDDDD;}
	.logo_area .right_links {position:absolute; width:auto; height:auto;top: 60px; right:0px; margin-right:8px;}
	.logo_area .right_links ul li a, .right_links ul li a:link { color:#4fa83e; line-height:1;}
	.logo_area .right_links ul li a:visited, .right_links ul li a:active { color:#4fa83e; }
	.logo_area .right_links ul li a:hover { color:#555555; }
	.logo_area .right_links ul li a.linkOpensNewWindow {padding-right:20px; background-image: url('https://www.arbonne.com/cs_static/img/icon_openinwindow.png');background-repeat: no-repeat; background-position: 100% 0%}

	.logo_area .search_cart { position:absolute; top:14px; right:0px; width:auto; min-width:100px; margin-right:8px;}
	.logo_area .search_cart form {margin:0; padding: 0}
	.logo_area .search_cart ul.inline-list { margin:0; list-style: none;}
	.logo_area .search_cart ul.inline-list > li { margin:0; float:left; min-height:1px; position: relative;}
	.logo_area .search_cart .magnifying_glass { width:21px; height:21px; position:absolute; top:2px; right:2px; border:none;}
	.logo_area .search_cart ul.inline-list input#KeyWord { width:180px; height:24px; color:#4fa83e; font-size:12px; line-height: 14px; font-family: inherit;  margin:0; background-color: #FFFFFF; border: 1px solid #CCCCCC; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); color: rgba(0,0,0,0.75); display:block; padding: 0px 24px 0px 6px;}
	.logo_area .search_cart ul.inline-list input:focus { outline-width:0; }
	.logo_area .search_cart .cart_icon { padding-left:12px; }


/* Main Navigation */
	#navLinks { border-bottom: solid 0px #e6e6e6; margin:auto; max-width:945px; min-width:740px; width:100%  }
	#navLinks dd {display:block; float:left;min-height:1px; margin:0;cursor:pointer; }
	#navLinks dd.active, #navLinks li.active { border-top: 0px solid #2ba6cb; margin-top:0px; }
	#navLinks dd a, #navLinks li a { color:#585858; background:#FFFFFF; display:block; font-size:12px; font-weight:bold; height:40px; line-height:40px; padding:0px 23.8px; text-transform:uppercase; }
	#navLinks dd.active a, #navLinks li.active a { position:relative; cursor:pointer; color:#417630; background:#FFF; border-left:0px solid #e6e6e6; border-right:0px solid #e6e6e6; font-weight:bold; }
	#navLinks dd.active a:after, #navLinks li.active a:after { top:50%; border:solid transparent; content: " "; height:0px; width:0px; position:absolute; pointer-events: none; border-color:rgba(252, 252, 252, 0); border-bottom-color:#f5f5f5; border-width:10px; left:50%; margin-left:-10px; }
	#navLinks dd.selected a {color:#417630}

	.tabs-content { width:100%; background-color:#f5f5f5; height:40px; padding:0; margin:0; list-style: none;clear:both;}
	.tabs-content .row {overflow: visible;}
	.tabs-content > li {width:945px; min-width:740px;position:relative; margin:auto; display:none; z-index:10;}

	.tabs-content .nav-bar > li.more_tab {display:none;}

	.tabs-content li.active {display:block;}
	.tabs-content ul.nav-bar { background: #F5F5F5; margin:0; padding:0; list-style: none; height:40px; display:block;}
	.tabs-content li.active ul.nav-bar {display:block;}
	.tabs-content .nav-bar > li {display:block; float:left; width:auto; margin:0; padding:0 ; min-width:1px; position:relative;}

	.tabs-content .nav-bar > li a:hover, .tabs-content .nav-bar > li a.active { background: #EAEAEA; }
	.tabs-content .nav-bar > li.has-flyout > a:first-child {display:block; color:#7D7D7D; font-size:11px; font-weight:bold;  text-transform:uppercase; padding-left:14px; padding-right:14px; line-height:38px; height:40px; width:auto;}
	.tabs-content .nav-bar > li.has-flyout > a:first-child:after { border-color:  transparent;}

	.tabs-content .nav-bar > li.has-flyout > a.selected {color:#417630}

	.tabs-content .nav-bar > li.has-flyout:hover > a:first-child { color: #417630;}
	.tabs-content .nav-bar > li.has-flyout:hover > a:first-child:after { border-color: transparent; right:6px; }

	.tabs-content .flyout {border: 1px solid #dddddd ;border-top:1px solid #FFFFFF;  margin:0; padding:0; z-index:100; background-color:#FCFCFC;  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3); height:auto; position:absolute; top:39px; left:0px;}
	.tabs-content .row .row {margin:0;}

	.tabs-content .flyout.subnav_one { width:250px; }
	.tabs-content .flyout.subnav_two { width:364px; }
	.tabs-content .flyout.subnav_three { width:546px; }
	.tabs-content .flyout.subnav_four { width:728px; }
	.tabs-content .flyout.subnav_five { width:910px; }

	.tabs-content .flyout hr { margin:0 8px; }
	.tabs-content .flyout .submenu_items {font-size:0px;padding:0;}
	.tabs-content .flyout .submenu_items .columns {width:181px; float: left; display: block; vertical-align: top; margin:0; padding:0;}
	.tabs-content .flyout .submenu_items .columns.twelve {width:100%;}
	.tabs-content .flyout .submenu_items .columns.six {width:50%;}

	.tabs-content .flyout .submenu_items div { margin:0; padding:0;}
	.tabs-content .flyout .submenu_items h5 {margin:0px; color:#585858; background: none; font-size:13px; padding:15px 12px 8px 12px; }
	.tabs-content .flyout .submenu_items ul { margin:0; padding:0; list-style: none;}
	.tabs-content .flyout .submenu_items ul li { border-left:0px; background:none; padding:0; margin:0;}
	.tabs-content .flyout .submenu_items ul li.active {background-color: #EAEAEA; font-weight:bold;}
	.tabs-content .flyout .submenu_items ul li.selected {background-color: #EAEAEA; font-weight:bold;}
	.tabs-content .flyout .submenu_items ul li a { font-size:12px; color:#417630; line-height:13px; display: block; padding:5px 12px 5px 12px; background: none; border:none; box-shadow: none}
	.tabs-content .flyout .submenu_items ul li a:link {color:#417630;}
	.tabs-content .flyout .submenu_items ul li a:visited {color:#417630;}
	.tabs-content .flyout .submenu_items ul li a:active {color:#585858;}
	.tabs-content .flyout .submenu_items ul li a:hover {color:#585858; background-color: #EAEAEA;}
	.tabs-content .flyout .submenu_items ul li sub {vertical-align: baseline; position: relative;top: 0.3em; left:1px; padding-right:1px;}
	.tabs-content .flyout .submenu_items ul li sup {vertical-align: baseline; position: relative;top: -0.4em; left:1px; padding-right:1px;}
	.tabs-content .flyout a.linkOpensNewWindow, .tabs-content .flyout a.linkOpensNewWindow:hover {padding-right:20px; background-image: url('http://www.arbonne.com/cs_static/img/icon_openinwindow.png');background-repeat: no-repeat; background-position: 100% 30%}

	/* Footer Ad */
	.tabs-content .flyout div.subnav_footer {margin:0;background-color:transparent; width:100%; padding-top:15px; overflow:hidden;}
	.tabs-content .flyout .subnav_footer div.footer_ad {background-color:#EAEAEA; padding:0;border:none; line-height:normal;position:relative;height:104px;width:100%;display:table; border-collapse:collapse;}
	.tabs-content .flyout .subnav_footer .columns {float:left;min-width:1px;width:auto;}

	@media only screen and (max-width: 767px) {

		.tabs-content .flyout .subnav_footer .columns {width:100% !important; float:left !important;}
		.tabs-content .flyout .subnav_footer .footer_ad.three {width:25% !important;}
		.tabs-content .flyout .subnav_footer .footer_ad.four.columns {width:33.3333% !important;*width:33.31% !important;}
		.tabs-content .flyout .subnav_footer .footer_ad.six {width:50% !important;}
		.tabs-content .flyout .subnav_footer .footer_ad.twelve {width:100% !important;}
	}

	.tabs-content .flyout .subnav_footer .footer_ad.three {width:25%;}
	.tabs-content .flyout .subnav_footer .footer_ad.four.columns {width:33.3333%;*width:33.31%;}
	.tabs-content .flyout .subnav_footer .footer_ad.six {width:50%;}
	.tabs-content .flyout .subnav_footer .footer_ad.twelve {width:100%;}

	.tabs-content .flyout .subnav_footer div.footer_ad .inner {background-color:#FFFFFF;position:relative;border:5px solid #EAEAEA; border-width:5px 5px 5px 0px; height:104px;}
	.tabs-content .flyout .subnav_footer div.footer_ad:first-child .inner {border-width:5px 5px 5px 5px;}
	.tabs-content .flyout .footer_ad img {max-height:100%;max-width:100%;}	
	.tabs-content .flyout .footer_ad .footer_img_block {border:none; padding:5px; height:100%; width:115px; overflow:hidden; background-color:transparent;}
	.tabs-content .flyout .footer_ad .footer_img_block.full {border:none; padding:0px; height:100%; width:100%;}
	.tabs-content .flyout .footer_ad .footer_img_block.fillW img {width:100%; max-width:none; max-height:none;}
	.tabs-content .flyout .footer_ad .footer_img_block.fillH img {height:100%; max-width:none; max-height:none;}
	.tabs-content .flyout .footer_ad .footer_copy_block {border:none; background-color: transparent; position:absolute; top:0px; left:120px; height:94px; width:auto; padding:5px; padding-left:0px;}
	.tabs-content .flyout .footer_ad .footer_copy_block sub {vertical-align: baseline;position: relative;top: 0.3em;left:1px; padding-right:1px}
	.tabs-content .flyout .footer_ad .footer_copy_block a {display:block; width: 100%; height: 100%;}
	.tabs-content .flyout .footer_ad .footer_copy_block a:link {color:#333333;}
	.tabs-content .flyout .footer_ad .footer_copy_block a:visited {color:#333333;}
	.tabs-content .flyout .footer_ad .footer_copy_block a:active {color:#333333;}
	.tabs-content .flyout .footer_ad .footer_copy_block a:hover {color:#333333;}

	.tabs-content .flyout .footer_ad .footer_copy_block.white a:link {color:#FFFFFF;}
	.tabs-content .flyout .footer_ad .footer_copy_block.white a:visited {color:#FFFFFF;}
	.tabs-content .flyout .footer_ad .footer_copy_block.white a:active {color:#FFFFFF;}
	.tabs-content .flyout .footer_ad .footer_copy_block.white a:hover {color:#FFFFFF;}

	.tabs-content .flyout .footer_ad .footer_copy_block.shadow {text-shadow: 1px 0px rgba(0,0,0,0.7);}
	.tabs-content .flyout .footer_ad .footer_copy_block.centered {text-align:center;}
	.tabs-content .flyout .footer_ad .footer_copy_block.full {padding:8px; left:0px;}
	.tabs-content .flyout .footer_ad .body_copy {font-size:11px;}
	.tabs-content .flyout .footer_ad strong {font-size:12px; line-height:14px;}	
	.tabs-content .flyout .footer_ad .call_to_action {color: #417630; text-decoration: none; font-size:10px; display:block; margin-top:6px; height:auto;}

/* sidenav */
#sidenavbar .nav.rows {margin: 3px 0 20px 0;}
#sidenavbar .nav.rows > li {display:block;padding-left:8px;}
#sidenavbar .nav.rows > li a {padding: 5px 2px;}
#sidenavbar .nav.rows > li.active {background-color: #F1F1F1; border-left: 2px solid #3d9b35; padding-left:6px; font-weight: bold;}
#sidenavbar .nav.rows > li.heading {display:block; font-size:18px;font-weight:normal;;color:#777;padding: 2px 2px}
#sidenavbar .nav.rows > li.heading a {color:#777;padding: 2px 2px}
#sidenavbar .nav.rows > li.heading a:hover {color: #424242;}
#sidenavbar .nav.rows.active > li {display:block;}



/* Footer */
	.footer_section_outer {clear:both; width:100%; background-color:#fbfbfb; border-top:1px solid #ddd;padding:16px;}
	.footer_section { background-color:#fbfbfb; min-width:640px;}
	.footer_section h5 { margin-bottom:5px; color:#3c3c3c; font-size:13px; }

	.footer_section ul.nav.rows > li > a.linkOpensNewWindow {padding-right: 26px; background-image: url('http://www.arbonne.com/cs_static/img/icon_openinwindow.png');background-repeat: no-repeat; background-position: 100% 40%}
	.footer_section ul {margin-right:32px;}
	.footer_section ul > li, .footer_section ul > li > p {font-size:11px;}

	.sub_footer_outer { width:100%; background-color:#ececea; clear:both; height:48px;}
	.sub_footer { background:#ececea; }
	.sub_footer .subicons {margin-top:8px; margin-left:8px;}
	.sub_footer .dsalogo {width:36px;}
	.sub_footer .verisignlogo {}
	.sub_footer .copyright {font-size:11px; padding-top:18px; padding-right:8px; color:#555555;}


.header_content {min-height:163px;}

/* main banner is the width of the screen */
	#main_banner {overflow:hidden;}
	#main_banner .inner {width: 100%; min-width:480px;max-width:940px; position: relative; margin:0 auto;}


/* center content */
	#centerrow {min-height: 1180px; width: 100%; min-width:480px;max-width:940px; position: relative; margin:0 auto;}
	#centerrow.full-page, #centerrow.full_page, #centerrow.fullpage {max-width:100%;}
	#center_content .breadcrumbs li, #center_content_full  .breadcrumbs li {margin-top:11px; margin-bottom:12px;}	

	/* with sidenav */
	#center_content {padding-left: 230px; padding-right:16px; }
	#center_content > h1 {color:#777;}
	

	/* full width page */
	#center_content_full {padding-left: 16px; padding-right:16px;}
	#center_content_full > h1 {color:#777;}



/* product Modules */

	.product_module {min-width:220px; ;margin-bottom:60px;}
	.product_module .inner { height: 100%;  border-bottom-color: #999999; margin:8px ; position: relative ; overflow: hidden; }

 	.product_module .imgblock {position:absolute; top:0; left:0; width: 110px;}
 	.product_module .imgblock img {margin-right:12px; margin-bottom:12px; display:block;}
 	.product_module .imgblock > img {display:none;}

 	.product_module .descblock {margin-left: 110px;}
 	.product_module h6 { margin-bottom:8px }
 	.product_module .description {margin-bottom:8px;color:#424242;}
 	.product_module .sku1, .product_module .sku2 {color: #999999; font-weight: bold; float: right;}
 	.product_module .priceblock {font-size:14px;}
 	.product_module .price {color: #424242; font-weight: bold; font-size: 16px; margin-bottom:16px;}
 	.product_module .rvblock {margin-top:12px; font-weight: bold;}
 	.product_module .rvlink {text-decoration: underline;}
 	.product_module .qtyform { display:block; margin:0 auto; margin-bottom:4px; text-align:right;}
 	.product_module .qtyform label {font-size:10px;}
 	.product_module .qtyform input[type="text"] {font-size:14px; width: 32px; height: 24px;  margin-right: 8px; padding:1px; text-align:center;}
 	.product_module .qtyform .button {text-transform: uppercase}
 	.product_module .shareThisIcons {display:none;}

 	/* in product catalog grid */ 
 	.product_catalog .product_module {min-width:220px; max-width:320px; margin-bottom: 48px;}
 	.product_catalog .product_module .inner {margin-right: 32px;}
 	
 	.product_catalog .product_module .imgblock > a img {display:block; float:left;margin-right: 8px; margin-bottom: 100%;}
 	.product_catalog  .product_module .imgblock > img {display:none;}
	.product_catalog  .product_module a.product_name  {display:block; font-weight: bold; font-size:14px; margin-bottom: 4px;}
	.product_catalog  .product_module h6.product_name {display:none;}

 	.product_catalog .product_module .sku1 {display:none;}
	.product_catalog .product_module .sku2 {margin-left: 20px;}
	.product_catalog .product_module .qtyform {margin-top:16px;}


	/* in product detail */
	.product_detail .product_module {min-height: 300px;}
	.product_detail .product_module .inner {overflow:visible;}
	.product_detail .product_module .imgblock {position:absolute; top:0; left:0; width: 300px; }
	.product_detail .product_module .imgblock > img {display:block;}
	.product_detail .product_module .imgblock > a {display:none;}
	.product_detail .product_module h6.product_name {display:block;}
	.product_detail .product_module a.product_name {display:none;}
	.product_detail .product_module .descblock {margin-left: 300px;}
	.product_detail .product_module .sku1 {display:block;font-size: 14px; float:none; margin-bottom:12px;}
	.product_detail .product_module .sku2 {display:none;}
	.product_detail .product_module .priceblock {margin-top:16px;}
	.product_detail .product_module .price {font-size:18px; font-weight: bold;}
	.product_detail .product_module .rvblock {margin-top:16px; font-weight: bold;}
	.product_detail .product_module .qtyform {margin-left: 300px;text-align:left;margin-top:16px;}
	.product_detail .product_module .shareThisIcons {display:block; margin-top: 30px;margin-left: 300px;}

	/* recommended items */
	.recommended_products > h6 {font-size:11px; font-weight: normal; text-transform: uppercase;}
	.recommended_products .product_module .imgblock {width: 90px;}
	.recommended_products .product_module .imgblock > img {display:none;}
	.recommended_products .product_module h6.product_name {display:none;}
	.recommended_products .product_module .descblock {margin-left: 90px;}
	.recommended_products .product_module .price {font-size:12px; color:#424242;}	
	.recommended_products .product_module input.button[type="submit"] {font-size:11px;line-height: 11px; padding: 3px 6px 2px 6px;}
	.recommended_products .product_module .qtyform {margin-top:16px; text-align:center;}
	.recommended_products .product_module .qtyform input[type="text"] {font-size:12px; width: 28px; height: 18px; padding:1px;}


	/* Quick Shop & Order Destination links */
	#shopOnlineQuickShop {position:relative;display:block;overflow:hidden;width:100%;font-size:13px;line-height:30px;}
	#shopOnlineQuickShop a:link, #shopOnlineQuickShop a:visited, #shopOnlineQuickShop a:active {color:#4FA83E;text-decoration: none;}
	#shopOnlineQuickShop a:hover {color:#555}
	#shopOnlineQuickShop .shopHomeLink {float:left;min-width:50px;margin-right:24px;}
	#shopOnlineQuickShop .shopHomeLink a, #shopOnlineQuickShop .shopHomeLink a:link, #shopOnlineQuickShop .shopHomeLink a:visited, #shopOnlineQuickShop .shopHomeLink a:active, #shopOnlineQuickShop .shopHomeLink a:hover {text-decoration:none;font-size:16.5px;color:#777;}
	#shopOnlineQuickShop .QuickShopLinks {float:left;min-width:50px;width:auto;color:#999;}
	#shopOnlineQuickShop .QuickShopLinks div {float:left;min-width:50px;white-space: nowrap;}
	#shopOnlineQuickShop .orderDestination {float:right;margin-right:50px;min-width:50px;font-size:11px;line-height:15px;padding-top:7px;}
	#shopOnlineQuickShop .orderDestination form {margin:0;padding:0;}

/* sticky scroll */

	.scroll_container .nav {height: 280px; background-color:#9BBA7D;}
	.scroll_container .nav {position: relative;}
	.scroll_container .nav .background {position:absolute; bottom:0; left: 0; width: 100%; height: 100%; background-color: #6FC93A;opacity:0.6;  filter:alpha(opacity=60);}
	.scroll_container .nav .nav_block {position: relative; width: 75% ;height: 100%;}
	.scroll_container .nav .nav_block ul {position:absolute; top:52px; left: 0px; z-index: 2; width: 100%; height: 280px;list-style: none; margin: 0; padding: 0;}
	.scroll_container .nav .nav_block li {display:block; float: left; width: 25%; min-height: 100px; margin: 1.3%;  list-style: none;  border: 1px solid #FFFFFF;  cursor:pointer;  -webkit-transition: background-color 0.1s linear; -moz-transition: background-color 0.1s linear; transition: background-color 0.1s linear;}
	.scroll_container .nav .nav_block li.spacer, .scroll_container .nav .nav_block li.spacer:hover {border: none;  cursor:pointer;background-color:transparent;}

	.scroll_container .nav .nav_block li:hover,.scroll_container .nav .nav_block li.active  {background-color: #66944B}
	.scroll_container .nav .nav_block li > .inner {padding: 6px;color: #FFFFFF;}
	.scroll_container .nav .nav_block li strong {display:block; margin-top: 16px;font-size:13px; line-height: 1.1em;}

	.scroll_fixed.scrolling {height:0px !important;}
	.scroll_fixed.scrolling .nav  {height: 100%; width:100%;}
	.scroll_fixed.scrolling .nav .nav_block {width:100%;}
	.scroll_fixed.scrolling .nav .nav_block ul {top:4px;}	
	.scroll_fixed.scrolling .nav .nav_block li {width: 18%; margin:0.8%;}
	.scroll_fixed.scrolling .nav .nav_block li.spacer {display:none;}


	.scroll_style_odd {background-color: #F1F1F1;}
	.scroll_style_odd .office_info {background-color: #FFFFFF;}
	.scroll_style_even {background-color: #FFFFFF;}
	.scroll_style_even .office_info {background-color: #F1F1F1;}

	.scroll_body .padded {padding:24px;}

	.scroll_fixed {padding-top:8px; margin-bottom: 12px;z-index:10;background:#FFFFFF; background:rgba(255,255,255,0.9)}


	.scrollto_toplinker {position: fixed; bottom:16px; width:100%;}
	.scrollto_toplinker .inner {max-width:1000px;margin:0 auto; position: relative;}
	.scrollto_toplinker a {float:right; width: 40px; height: 30px; -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6); box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.6);display:block;  padding: 6px; color: #FFFFFF; background-color: #66944B; font-size: 14px; font-weight: bold; text-transform: uppercase; }
	.scrollto_toplinker a:hover {background-color: #77AD57; text-decoration: underline}




/* prototype overlay */
	.overlay {position: absolute; left:0px; top:0px; padding:8px; background-color: rgba(0,0,0,0.4); color:#FFFFFF;-moz-border-radius-bottomright: 6px;-webkit-border-bottom-right-radius: 6px;border-bottom-right-radius: 6px;-webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.41);-moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.41);box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.41);}
	.overlay a, .overlay a:link, .overlay a:visited, .overlay a:hover {font-size:13px; color:#ffffff}
.overlay a:hover {text-decoration: underline;}


/* responsive breakpoint */
@media only screen and (max-width:768px) {
	.logo_area { min-width:480px;}
	.logo_area .right_links {top: 26px;}
	.logo_area .search_cart {top:8px;}
	.login_section_outer {height: 56px; }

	#sidenavbar {width:148px;}
	#center_content {padding-left:190px;}




	.tabs-content > li {position: relative;width:100%; min-width:100%;}
	.tabs-content .nav-bar  {position: relative; }

	.tabs-content .nav-bar > li.more_tab {display:block;position:absolute; top:0px; right: 0px;background-color:#F5F5F5; padding-left:24px;}


	.flyout .subnav_five { width:600px;  }

	.tabs-content { height:auto;}
	.tabs-content.expanded { height:auto;}
	.tabs-content.expanded ul.nav-bar { height:auto;}
	.tabs-content.expanded .nav-bar > li {float:none; width:100%;}
	.tabs-content.expanded .nav-bar > li.has-flyout> .flyout {display:none;}
	.tabs-content.expanded .nav-bar > li.has-flyout > a:first-child { border-bottom: 1px solid #EAEAEA;}
	.tabs-content.expanded .row .row {margin:0;}


	

	.flyout.mobile_menu.subnav_one { width:100%; }
	.flyout.mobile_menu.subnav_two { width:100%; }
	.flyout.mobile_menu.subnav_three { width:100%;  }
	.flyout.mobile_menu.subnav_four { width:100%; }
	.flyout.mobile_menu.subnav_five { width:100%;  }

	.flyout.mobile_menu	{display:block; position: absolute; top:40px ; left: 0px;background-color:#F5F5F5; height:auto; z-index:100;margin-bottom: 60px; }
	.flyout.mobile_menu.relative{display:block; position: relative; top:0px ;left: 0px;background-color:#F5F5F5; height:auto; z-index:100;margin-bottom: 0px;clear:both;}
	.flyout.mobile_menu .flyout_topper {font-weight:bold; font-size:12px;text-transform:uppercase;background-color:#DDDDDD; height: 40px; line-height: 38px; text-align: center; cursor:pointer; }
	.flyout.mobile_menu .flyout_topper .back {position: absolute; top:0px ; left: 8px; text-align:left; line-height: 38px; padding-left: 18px; padding-right: 12px;}


	.flyout.mobile_menu .arrow_left, .flyout.mobile_menu .arrow_right, .flyout.mobile_menu .arrow_down, .flyout.mobile_menu .arrow_up   {display:block; position: absolute; left:0px; top: 0px; height: 38px; width: 16px; background-image: url('../img/arrow_icons.png'); background-position: 0px 11px; background-repeat: no-repeat;}
	.flyout.mobile_menu .arrow_left {background-position: -50px 11px;}
	.flyout.mobile_menu .arrow_down {background-position: -25px 11px; }
	.flyout.mobile_menu .arrow_up { background-position: -75px 11px;}


	.flyout.mobile_menu .submenu_items .columns, .flyout.mobile_menu .submenu_items .one_fifth {float:none;width:100%;}


	.flyout.mobile_menu .submenu_items h5 {display:block; position: relative; width: 100%; margin:0px; color:#7D7D7D; background: none; font-weight:bold; font-size:11px; text-transform:uppercase; padding:0; padding-left:26px;  padding-right:14px; line-height:38px; height:40px; border-bottom: 1px solid #EAEAEA; cursor: pointer;}
	.flyout.mobile_menu .submenu_items h5:hover {background-color:#EAEAEA;}
	.flyout.mobile_menu .submenu_items h5 .arrow_right, .flyout.mobile_menu .submenu_items h5 .arrow_down {left: 8px;}

	.flyout.mobile_menu .submenu_items div.expanded ul {display:block;}
	.flyout.mobile_menu .submenu_items ul { margin:0; padding:0; list-style: none; display:none;}
	.flyout.mobile_menu .submenu_items ul li { border-left:0px; background-color:#FFFFFF; padding:0; margin:0;}

	.flyout.mobile_menu .submenu_items ul li a { font-size:12px; color:#417630; line-height:13px; display: block; padding:8px 12px 8px 26px; background: none;border:none; border-bottom: 1px solid #F1F1F1; box-shadow: none}
	.flyout.mobile_menu .submenu_items ul li a:hover {background-color:#F1F1F1;border-bottom: 1px solid #EAEAEA}
	.flyout.mobile_menu .submenu_items ul li.selected {background-color:#F1F1F1;border-bottom: 1px solid #EAEAEA}
	

	.flyout .subnav_footer .footer_ad {display:none; float:none; width: 100%;}
	.flyout .footer_ad .footer_img_block {border:none; padding:5px; height:100%; width:115px; overflow:hidden; background-color:transparent; float:left;}
	.flyout .footer_ad .footer_copy_block {display:inline-block; padding-left:4px;padding-bottom:8px;}

	.product_detail .product_module {min-width: 100%;}
	.product_detail .product_module .imgblock {width: 50%;}
	.product_detail .product_module .imgblock img {width: 100%; max-width:100%;}
	.product_detail .product_module .descblock {margin-left: 50%;}
	.product_detail .product_module .qtyform {margin-left: 50%;}
	.product_catalog .product_module {width:100%;min-width:100%; margin-bottom: 48px;}


	.scroll_item.row .col5 {width: 66%;}

	.scroll_container .nav .nav_block { width: 100% ;min-width:400px;}

}



/* mobile breakpoint */
@media only screen and (max-width:480px) {
	.login_section {min-width:380px; width:100%;padding-right:5%;}
	.login_section ul li:first-child {border-left:none; }
	.login_section ul li:last-child {border-right:none; }
	.login_section ul li:only-of-type {border-left:none; border-right: none }

	.logo_area .right_links {left:8px; top: 42px;}
	.logo_area { min-width:308px;}
	.logo_area .search_cart {top:18px;}
	.logo_area .search_cart ul.inline-list input#KeyWord {width:73px;}
	.logo_area .search_cart .cart_icon {padding-left: 6px;}
	.logo_area h1 {font-size:18px; position:relative ;top:0px; right:0px; margin-left: 16px; margin-top:8px;}

	#navLinks {max-width:100%; min-width:325px; width:100% ;margin:0; padding:0; margin-top:24px;}
	#navLinks dd {padding: 0px 4px;}
	#navLinks dd a {padding: 0px 8px;}

	.tabs-content {height:auto;}
	.tabs-content ul.nav-bar { height:auto;}
	.tabs-content .nav-bar > li {float:none; width:100%;}
	.tabs-content .nav-bar > li.has-flyout> .flyout {display:none;}
	.tabs-content .nav-bar > li.has-flyout > a:first-child { border-bottom: 1px solid #EAEAEA;}
	.tabs-content .row .row {margin:0;}

	.tabs-content .nav-bar > li.more_tab {display:none;}


	#navLinks dd.active.supress a:after {border:transparent}

	.tabs-content.supress {display:none;}


	.flyout .footer_ad .footer_copy_block {padding-left:16px;}

	#main_banner {clear:both;}
	#sidenavbar {display:none;}
	#center_content {padding:16px; padding-top:0px;}
	#centerrow {min-height: 1px; min-width:200px;position: relative; margin:0 auto; clear:both;}

	.content_module {float:none; margin:auto; min-width:100% ;width:100%; margin-bottom: 24px;}
	.footer_content,.sub_footer_outer {display:none;}

	.scroll_fixed.scrolling {height: auto !important;}
	.scroll_fixed.scrolling .nav  {height: auto; width:100%;}
	.scroll_fixed.scrolling .nav .nav_block {width:100%;}
	.scroll_fixed.scrolling .nav .nav_block ul {height:auto; top:4px;}	
	.scroll_fixed.scrolling .nav .nav_block li {width: 100%; margin:0; margin-top:-1px;display:inline;min-height:0;}
	.scroll_fixed.scrolling .nav .nav_block li.spacer {display:none;}
	.scroll_fixed.scrolling .nav .nav_block li strong {margin-top:0;}
	.scroll_fixed.scrolling .nav .nav_block li {background-color: #81C355;}
	.scroll_fixed.scrolling .nav .nav_block li:hover,.scroll_fixed.scrolling .nav .nav_block li.active  {background-color: #66944B}

}



